<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>homepage</title>
	<link rel="stylesheet" type="text/css" href="{% static "moviesapp/css/homepage.css" %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container" align="center">
		<div class="jumbotron">
  			<h1 class="display-4">Welcome to Movie Application</h1>
  
 				<a class="btn btn-primary btn-lg" href="/movie/addmovie/" role="button">Add Movie</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  				<a class="btn btn-primary btn-lg" href="/movie/movielist/" role="button">List of Movies</a>
		</div>
	</div>
</body>
</html>